USE [master]
GO
/****** Object:  Database [Shop_Gregoricchio]    Script Date: 09/07/2019 11:00:26 ******/
CREATE DATABASE [Shop_Gregoricchio]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Shop_Gregoricchio', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Shop_Gregoricchio.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Shop_Gregoricchio_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Shop_Gregoricchio_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Shop_Gregoricchio].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Shop_Gregoricchio]
GO
/****** Object:  User [ITS_IBS]    Script Date: 09/07/2019 11:00:26 ******/
CREATE USER [ITS_IBS] FOR LOGIN [ITS_IBS] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [ITS_IBS]
GO
ALTER ROLE [db_accessadmin] ADD MEMBER [ITS_IBS]
GO
ALTER ROLE [db_securityadmin] ADD MEMBER [ITS_IBS]
GO
ALTER ROLE [db_ddladmin] ADD MEMBER [ITS_IBS]
GO
ALTER ROLE [db_backupoperator] ADD MEMBER [ITS_IBS]
GO
ALTER ROLE [db_datareader] ADD MEMBER [ITS_IBS]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [ITS_IBS]
GO
/****** Object:  Table [dbo].[Azienda]    Script Date: 09/07/2019 11:00:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Azienda](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PartitaIva] [varchar](11) NOT NULL,
	[CF] [varchar](16) NOT NULL,
	[RagioneSociale] [varchar](50) NOT NULL,
	[Nome] [varchar](50) NOT NULL,
	[Cognome] [varchar](50) NOT NULL,
	[Via] [varchar](50) NOT NULL,
	[Cap] [varchar](5) NOT NULL,
	[Citta] [varchar](100) NOT NULL,
	[Provincia] [char](2) NOT NULL,
	[Telefono] [varchar](50) NULL,
	[Cellulare] [varchar](50) NOT NULL,
	[Fax] [varchar](50) NULL,
	[Email] [varchar](255) NOT NULL,
	[Sito] [varchar](255) NOT NULL,
 CONSTRAINT [PK_Cliente] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categoria]    Script Date: 09/07/2019 11:00:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categoria](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Denominazione] [varchar](50) NOT NULL,
	[Descrizione] [text] NULL,
 CONSTRAINT [PK__Categori__3214EC07967495B3] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DettaglioOrdine]    Script Date: 09/07/2019 11:00:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DettaglioOrdine](
	[IdOrdine] [int] NOT NULL,
	[IdProdotto] [int] NOT NULL,
	[Quantita] [int] NOT NULL,
	[ScontoApplicato] [float] NULL,
 CONSTRAINT [PK_DettaglioOrdine] PRIMARY KEY CLUSTERED 
(
	[IdOrdine] ASC,
	[IdProdotto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ordine]    Script Date: 09/07/2019 11:00:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ordine](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CodiceOrdine] [varchar](8) NOT NULL,
	[IdCliente] [int] NOT NULL,
	[Data] [datetime] NOT NULL,
	[TipoPagamento] [int] NOT NULL,
 CONSTRAINT [PK_Ordine] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Prodotto]    Script Date: 09/07/2019 11:00:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Prodotto](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Denominazione] [varchar](50) NOT NULL,
	[Descrizione] [text] NULL,
	[IdCategoria] [int] NOT NULL,
	[PrezzoNoIva] [float] NOT NULL,
	[Sconto] [float] NOT NULL,
	[Giacenza] [int] NOT NULL,
 CONSTRAINT [PK__Prodotto__3214EC07F86F25B0] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TipiPagamento]    Script Date: 09/07/2019 11:00:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipiPagamento](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Denominazione] [varchar](50) NOT NULL,
	[Attivo] [bit] NOT NULL,
 CONSTRAINT [PK_TipiPagamento] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Azienda] ON 

INSERT [dbo].[Azienda] ([Id], [PartitaIva], [CF], [RagioneSociale], [Nome], [Cognome], [Via], [Cap], [Citta], [Provincia], [Telefono], [Cellulare], [Fax], [Email], [Sito]) VALUES (9, N'jj44j', N'331kk', N'kk', N'kk', N'kk', N'kk', N'kk', N'kk', N'kk', N'kk', N'kk', NULL, N'kk', N'kk')
INSERT [dbo].[Azienda] ([Id], [PartitaIva], [CF], [RagioneSociale], [Nome], [Cognome], [Via], [Cap], [Citta], [Provincia], [Telefono], [Cellulare], [Fax], [Email], [Sito]) VALUES (10, N'j44j', N'31kk', N'kk', N'kk', N'kk', N'kk', N'kk', N'kk', N'kk', N'kk', N'kk', NULL, N'kk', N'kk')
SET IDENTITY_INSERT [dbo].[Azienda] OFF
SET IDENTITY_INSERT [dbo].[Categoria] ON 

INSERT [dbo].[Categoria] ([Id], [Denominazione], [Descrizione]) VALUES (1, N'Test', N'Test')
SET IDENTITY_INSERT [dbo].[Categoria] OFF
INSERT [dbo].[DettaglioOrdine] ([IdOrdine], [IdProdotto], [Quantita], [ScontoApplicato]) VALUES (3, 3, 1, 2)
INSERT [dbo].[DettaglioOrdine] ([IdOrdine], [IdProdotto], [Quantita], [ScontoApplicato]) VALUES (3, 5, 11, 0)
INSERT [dbo].[DettaglioOrdine] ([IdOrdine], [IdProdotto], [Quantita], [ScontoApplicato]) VALUES (3, 6, 10, 10)
SET IDENTITY_INSERT [dbo].[Ordine] ON 

INSERT [dbo].[Ordine] ([Id], [CodiceOrdine], [IdCliente], [Data], [TipoPagamento]) VALUES (3, N'1010popo', 9, CAST(N'2019-01-01T00:00:00.000' AS DateTime), 1)
INSERT [dbo].[Ordine] ([Id], [CodiceOrdine], [IdCliente], [Data], [TipoPagamento]) VALUES (7, N'1010pdpo', 9, CAST(N'2019-01-01T00:00:00.000' AS DateTime), 1)
INSERT [dbo].[Ordine] ([Id], [CodiceOrdine], [IdCliente], [Data], [TipoPagamento]) VALUES (8, N'1010pdss', 10, CAST(N'2019-01-01T00:00:00.000' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[Ordine] OFF
SET IDENTITY_INSERT [dbo].[Prodotto] ON 

INSERT [dbo].[Prodotto] ([Id], [Denominazione], [Descrizione], [IdCategoria], [PrezzoNoIva], [Sconto], [Giacenza]) VALUES (3, N'Mela', NULL, 1, 20.4, 2, 17)
INSERT [dbo].[Prodotto] ([Id], [Denominazione], [Descrizione], [IdCategoria], [PrezzoNoIva], [Sconto], [Giacenza]) VALUES (5, N'Pera', NULL, 1, 24.4, 0, 6)
INSERT [dbo].[Prodotto] ([Id], [Denominazione], [Descrizione], [IdCategoria], [PrezzoNoIva], [Sconto], [Giacenza]) VALUES (6, N'Para', NULL, 1, 2.4, 10, 7)
SET IDENTITY_INSERT [dbo].[Prodotto] OFF
SET IDENTITY_INSERT [dbo].[TipiPagamento] ON 

INSERT [dbo].[TipiPagamento] ([Id], [Denominazione], [Attivo]) VALUES (1, N'lol', 1)
INSERT [dbo].[TipiPagamento] ([Id], [Denominazione], [Attivo]) VALUES (2, N'lol3', 0)
SET IDENTITY_INSERT [dbo].[TipiPagamento] OFF
SET ANSI_PADDING ON
GO
/****** Object:  Index [CF_Azienda_Unique]    Script Date: 09/07/2019 11:00:27 ******/
ALTER TABLE [dbo].[Azienda] ADD  CONSTRAINT [CF_Azienda_Unique] UNIQUE NONCLUSTERED 
(
	[CF] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [PIva_Azienda_Unique]    Script Date: 09/07/2019 11:00:27 ******/
ALTER TABLE [dbo].[Azienda] ADD  CONSTRAINT [PIva_Azienda_Unique] UNIQUE NONCLUSTERED 
(
	[PartitaIva] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_CodiceOrdine]    Script Date: 09/07/2019 11:00:27 ******/
ALTER TABLE [dbo].[Ordine] ADD  CONSTRAINT [UK_CodiceOrdine] UNIQUE NONCLUSTERED 
(
	[CodiceOrdine] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Prodotto] ADD  CONSTRAINT [DF_Prodotto_Sconto]  DEFAULT ((0)) FOR [Sconto]
GO
ALTER TABLE [dbo].[TipiPagamento] ADD  CONSTRAINT [DF_TipiPagamento_Attivo]  DEFAULT ((0)) FOR [Attivo]
GO
ALTER TABLE [dbo].[DettaglioOrdine]  WITH CHECK ADD  CONSTRAINT [FK_DettaglioOrdine_Ordine] FOREIGN KEY([IdOrdine])
REFERENCES [dbo].[Ordine] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DettaglioOrdine] CHECK CONSTRAINT [FK_DettaglioOrdine_Ordine]
GO
ALTER TABLE [dbo].[DettaglioOrdine]  WITH CHECK ADD  CONSTRAINT [FK_DettaglioOrdine_Prodotto1] FOREIGN KEY([IdProdotto])
REFERENCES [dbo].[Prodotto] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DettaglioOrdine] CHECK CONSTRAINT [FK_DettaglioOrdine_Prodotto1]
GO
ALTER TABLE [dbo].[Ordine]  WITH CHECK ADD  CONSTRAINT [FK_Ordine_Azienda] FOREIGN KEY([IdCliente])
REFERENCES [dbo].[Azienda] ([Id])
GO
ALTER TABLE [dbo].[Ordine] CHECK CONSTRAINT [FK_Ordine_Azienda]
GO
ALTER TABLE [dbo].[Ordine]  WITH CHECK ADD  CONSTRAINT [FK_Ordine_TipiPagamento] FOREIGN KEY([TipoPagamento])
REFERENCES [dbo].[TipiPagamento] ([Id])
GO
ALTER TABLE [dbo].[Ordine] CHECK CONSTRAINT [FK_Ordine_TipiPagamento]
GO
ALTER TABLE [dbo].[Prodotto]  WITH CHECK ADD  CONSTRAINT [Fk_Prodotto_Categoria] FOREIGN KEY([IdCategoria])
REFERENCES [dbo].[Categoria] ([Id])
GO
ALTER TABLE [dbo].[Prodotto] CHECK CONSTRAINT [Fk_Prodotto_Categoria]
GO
/****** Object:  StoredProcedure [dbo].[best_selling_product]    Script Date: 09/07/2019 11:00:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[best_selling_product]
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	
	SELECT top 1 IdProdotto, SUM(Quantita) as SommaAcquisto FROM DettaglioOrdine group by IdProdotto order by SommaAcquisto DESC

END
GO
/****** Object:  StoredProcedure [dbo].[max_fatturato_by_client]    Script Date: 09/07/2019 11:00:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[max_fatturato_by_client]

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	Declare @temp_table table
	(
	  IdOrdine int,
	  totale float
	)
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	Insert into @temp_table
	Exec spName1forId
	
    -- Insert statements for procedure here
	/*select TOP 10 o.IdCliente from (select IdOrdine, SUM((p.PrezzoNoIva+(p.PrezzoNoIva*22/100) - (p.PrezzoNoIva*d.ScontoApplicato/100))) as prezzo 
	from DettaglioOrdine d inner join Prodotto p on p.Id = d.IdProdotto group by IdOrdine) as tmp
	 inner join Ordine o on o.Id = tmp.IdOrdine group by o.IdCliente order by SUM(tmp.IdOrdine)*/
	 select TOP 10 o.IdCliente, SUM(t.totale) fatturato from @temp_table t inner join
	 Ordine o on o.Id = t.IdOrdine group by o.IdCliente order by fatturato DESC

	END
GO
/****** Object:  StoredProcedure [dbo].[prodotti_in_scorta]    Script Date: 09/07/2019 11:00:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[prodotti_in_scorta]
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here

	SELECT * FROM Prodotto where Giacenza <= 10

END
GO
/****** Object:  StoredProcedure [dbo].[spName1forId]    Script Date: 09/07/2019 11:00:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spName1forId]
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	
	select IdOrdine, SUM((p.PrezzoNoIva+(p.PrezzoNoIva*22/100) - (p.PrezzoNoIva*d.ScontoApplicato/100))*d.Quantita) as prezzo 
	from DettaglioOrdine d inner join Prodotto p on p.Id = d.IdProdotto group by IdOrdine
    

	END
GO
/****** Object:  StoredProcedure [dbo].[total_order_completed_count]    Script Date: 09/07/2019 11:00:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[total_order_completed_count]
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	
	SELECT COUNT(*) FROM Ordine;

END
GO
/****** Object:  Trigger [dbo].[CheckForInsertinDettaglio]    Script Date: 09/07/2019 11:00:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[CheckForInsertinDettaglio] ON [Shop_Gregoricchio].[dbo].[DettaglioOrdine]
FOR INSERT 
as 
BEGIN  
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	--SET NOCOUNT ON;

	
	if ((select p.Giacenza from Prodotto p inner join inserted i on i.IdProdotto=p.Id
	where p.Id=i.IdProdotto)<(select i.Quantita from inserted i))
	ROLLBACK TRANSACTION;

	update Prodotto set Prodotto.Giacenza = (Prodotto.Giacenza - (select inserted.Quantita from inserted))
	from Prodotto inner join inserted i on Prodotto.Id = i.IdProdotto

	update DettaglioOrdine set DettaglioOrdine.ScontoApplicato = (select Prodotto.Sconto from Prodotto
	inner join inserted i on Prodotto.Id = i.IdProdotto) where DettaglioOrdine.IdProdotto =
	(select inserted.IdProdotto from inserted)
	
RETURN
END;
GO
ALTER TABLE [dbo].[DettaglioOrdine] ENABLE TRIGGER [CheckForInsertinDettaglio]
GO
/****** Object:  Trigger [dbo].[CheckForPaymentNotActive]    Script Date: 09/07/2019 11:00:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[CheckForPaymentNotActive] ON [dbo].[Ordine]
AFTER INSERT, update 
as 
BEGIN  

--IF (SELECT * from INSERTED as i inner join TipiPagamento as t on t.Id= i.TipoPagamento where t.Attivo = 0) 
IF (SELECT t.Attivo from TipiPagamento as t  inner join INSERTED as i on t.Id= i.TipoPagamento) = 0

ROLLBACK TRANSACTION;  
RETURN
END;
GO
ALTER TABLE [dbo].[Ordine] ENABLE TRIGGER [CheckForPaymentNotActive]
GO
USE [master]
GO
